.kgMessage {
  color: grey;
  font-size: 4vh;
  float: center;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: row;
}

.interactiveSearchBody {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.searchBar {
  display: flex;
  flex-direction: row;
}

.graph {
  display: block;
  height: 80vh;
}

.sideBar {
  width: 20vw;
}

.infoBox {
  overflow: scroll;
  display: block;
  color: rgb(94, 94, 94);
  height: 80vh;
  font-size: 2.5vh;
  border: solid rgb(94, 94, 94) 0.3vh;
}

.infoBoxContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend {
  overflow: scroll;
  display: block;
  color: rgb(94, 94, 94);
  height: 80vh;
  font-size: 2vh;
  border: solid rgb(94, 94, 94) 0.3vh;
  text-align: center;
}

.legendRow {
  display: flex;
  flex-direction: row;
  text-align: left;
}
